font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

body {
  background-color:#F2F1E8;
}

.logo{
  width: 30px;
  height: 30px;
}

header h1 {
  font-size: 50px;
  text-align: center;
}

h2
{
  text-align: center;
  margin-top: 0px;
  position: relative;
  bottom: 27px;
  font-family: 'Merriweather', serif;
  font-weight: 200;
}

nav
{
  background-color: white;
  display: flex;
  text-align: center;
  height: 40px;
}

.bar
{
  position: relative;
  left:460px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.a
{
  margin:10px;
}

nav img
{
  width: 30px;
  height: 30px;
  padding: 5px 10px;
}

.one
{
  padding: 5px;
  width:550px;
  height:300px;
}
.two
{
  padding: 5px;
  width:200px;
  height:300px;
}
.three
{
  padding: 5px;
  width:150px;
  height:300px;
}
.four
{
  padding: 5px;
  width:200px;
  height:150px;
}
.five
{
  padding: 5px;
  width:180px;
  height:150px;
}
.six
{
  padding: 5px;
  width:310px;
  height:150px;
}
.seven
{
  padding: 5px;
  width:200px;
  height:150px;
}

.box
{
display: flex;
justify-content: center;

}

.box1
{
display: flex;
justify-content: center;
}

footer
{
  display: flex;
  padding: 20px;
  height: 30px;
  color: white;
  background-color: #434738;
}


.name
{
    align-items: flex-end;
    position: absolute;
    display: flex;
    width: 150px;
    padding: 5px;
    right: 940px;
    color: white;
    top: 463px;
    background-color: #434738;
}


.name1
{
    align-items: flex-end;
    position: absolute;
    display: flex;
    width: 30px;
    padding: 5px;
    left: 740px;
    top: 464px;
    color: white;
    background-color: #434738;
}

  .name2
  {
    align-items: flex-end;
    position: absolute;
    display: flex;
    width: 56px;
    padding: 5px;
    left: 950px;
    top: 463px;
    color: white;
    background-color: #434738;
}

.name4
{
    align-items: flex-end;
    position: absolute;
    display: flex;
    width: 70px;
    justify-content: center;
    display: flex;
    padding: 5px;
    left: 180px;
    top: 625px;
    color: white;
    background-color: #434738;
}

.name5
{
    align-items: flex-end;
    position: absolute;
    display: flex;
    width: 160px;
    justify-content: center;
    display: flex;
    padding: 5px;
    left: 390px;
    top: 625px;
    color: white;
    background-color: #434738;
}

.name6
{
    align-items: flex-end;
    position: absolute;
    display: flex;
    width: 125px;
    justify-content: center;
    display: flex;
    padding: 5px;
    left: 580px;
    top: 625px;
    color: white;
    background-color: #434738;
}

.name7
{
    align-items: flex-end;
    position: absolute;
    display: flex;
    width: 177px;
    justify-content: center;
    display: flex;
    padding: 5px;
    left: 900px;
    top: 625px;
    color: white;
    background-color: #434738;
}
